:root {
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --grey-color: hsl(0, 0%, 50%);
    --black-color: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh -1);

}

.card-container {
    background-color: var(--white-color);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 10px 0 var(--black-color);
    border-radius: 20px;
    border: 1px solid var(--black-color);



    .blog-image img {
        max-width: 100%;
        margin-top: 12px;
        border-radius: 10px;
        margin-left: 24px;
        margin-right: auto;
    }

    .content-block {
        margin-top: 12px;
        padding-left: 24px;



        .category-section {
            background-color: var(--yellow-color);
            width: 85px;
            height: 30px;
            text-align: center;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 12px;

            span {
                font-size: 14px;
                font-weight: 800;
                color: var(--black-color);
            }
        }

        h5 {
            font-size: 14px;
            font-weight: 600;
            margin-top: 12px;
            color: var(--black-color);
        }

        h1 {
            font-size: 24px;
            font-weight: 800;
            color: var(--black-color);
            margin-top: 12px;
        }

        h1:hover {
            color: var(--yellow-color);
            cursor: pointer;
        }

        p {
            font-size: 16px;
            color: var(--grey-color);
            line-height: 1.5;
            margin-top: 12px;
            font-weight: 600;
            padding-top: 12px;
            margin-bottom: 24px;
            max-width: 35ch;

        }

    }
}

.author-block {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    padding-left: 24px;

    img {
        width: 50px;
        height: 50px;
    }

    h4 {
        font-weight: 800;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 500px) {

    .card-container {
        width: 95%;
    }

    .blog-image img {
        width: 85%;

    }


}